
.header{
    height: 100px;
    width: 100%;
    border: 2px solid #dd8c16 ;
    text-align: center;
    padding-left: 280px;
    background-color: #c6c8ca;
 /*position: fixed;*/
    

}
div.logo{
    margin-left: 0px;
    height: 100px;
    width: 100px;

}
div.logo>img{
    max-height: 90px;
    max-width: 90px;
    margin-left: -100px;
    margin-top: -3px;

}
div.slogan>h2{
    text-align:  center;
    margin-left: auto;
    padding-top: -1px;
    margin-top: -3px;

}
div.content{
    width: 82%;
    margin: auto;
}
div.info{
    cursor: pointer;
    margin-left: 50px;
    z-index: 10;
}
div.detail{
    width: 200px;
    position: absolute;
    border:1px solid #ececec;
    top:48px;
    right:10px;
    padding-left: 20px;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 1s ease-out;
    background-color: white;
}
div.detail div{
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ececec;
}
div.info:hover div.detail{
    display: block;
    max-height: 300px;
}
