div.menu{
    height: 100vh;
    width: 18%;
    position: fixed;
    padding-right:0px ;
    margin-top: 100px;
    border: 2px solid #dd8c16;
    background-color: #c6c8ca;

}
div.menu *{
    margin: 0px;
    padding: 0px;
}
div.menu ul{
    list-style: none;
}
div.menu >ul >li{
    border-bottom: 1px solid #ececec;
    padding-top: 8px;
    padding-bottom: 8px;
}
div.menu> ul>li>a{
    font-size: 16px;
    display: block;
    padding-left: 22px;
}
div.menu> ul>li>h5{
    font-size: 15px;
    display: block;
    padding-left: 22px;
    font-size: 18px;

}
div.menu>li:hover{}
div.menu> ul>li>a:hover{
    text-decoration: none;

}
div.menu> ul>li>a>span{
    display: inline-block;
    margin-right: 8px
}
ul.submenu>li{
    padding-left: 60px;
    margin-left: 40px;

}
ul.submenu> li>a{
    font-size: 15px;
}
ul.submenu>li>a:hover{
    text-decoration: none;
}
ul.submenu>li{
    padding-top: 6px;
    padding-bottom: 8px;
}
ul.submenu>li:hover{
    background-color:#dd8c16;
    color: ghostwhite;
    padding-left: 60px;
}
div.menu>ul>li:hover ul.submenu{
    display: block;
    max-height: 200px;
}
ul.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 1s ease-out;
}
div.menu-header{
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    border-bottom: 1px solid #ececec;
}
