.quanlibaihat{
    margin-left: 120px;
    margin-right: -120px;
    margin-bottom: 50px;
}
.quanlibaihat table{
    border: 2px solid #dd8c16;
    border-left: 2px solid #dd8c16;
    border-right: 2px solid #dd8c16;
    border-top: 2px solid #dd8c16;
}

div.quanlibaihat table thead th{
    text-align: center;
    vertical-align: middle;
   /* border: 2px solid #dd8c16;*/
}
